#conn_status[type="failed"] {
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conn_status[type="success"] {
    background: green;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background: white;
    position: sticky;
    top: 0;
    /* Don't forget this, required for the stickiness */
}

.light_icon {
    width: 36px;
    height: 36px;
}

.light_table {
    background: white;
    border: none;
}

.footer {
    height: 50px;
    width: 100% !important;
    background-color: gray;
    position: fixed;
    bottom: 0;
}

.footer-sub {
    color: white;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 15px;
}